:root {
  --color-primary: #4852e3;
  --color-secondary: #fee4e9;
  --color-accent: #ff3b4a;
  --color-bg: #fff8fb;
  --color-text: #251f2c;
  --color-card: #ffffff;
  --p: #4852e3;
  --s: #fee4e9;
  --a: #ff3b4a;
  --bg: #fff8fb;
  --t: #251f2c;
  --c: #ffffff;
  --cta-fg: #fff8fb;
}
