:root {
  --color-primary: #51aee4;
  --color-secondary: #feeef9;
  --color-accent: #ff45e2;
  --color-bg: #fffdfe;
  --color-text: #251f2c;
  --color-card: #ffffff;
  --p: #51aee4;
  --s: #feeef9;
  --a: #ff45e2;
  --bg: #fffdfe;
  --t: #251f2c;
  --c: #ffffff;
  --cta-fg: #251f2c;
}
