:root {
  --color-primary: #d3d6ff;
  --color-secondary: #edf0ff;
  --color-accent: #ff9e62;
  --color-bg: #f8f9ff;
  --color-text: #222538;
  --color-card: #ffffff;
  --p: #d3d6ff;
  --s: #edf0ff;
  --a: #ff9e62;
  --bg: #f8f9ff;
  --t: #222538;
  --c: #ffffff;
  --mockup-cta-fg: #222538;
}
