:root {
  --color-primary: #d6d5d1;
  --color-secondary: #f3f2ef;
  --color-accent: #7d7763;
  --color-bg: #fdfcfb;
  --color-text: #282524;
  --color-card: #ffffff;
  --p: #d6d5d1;
  --s: #f3f2ef;
  --a: #7d7763;
  --bg: #fdfcfb;
  --t: #282524;
  --c: #ffffff;
  --cta-fg: #282524;
}
