:root {
  --color-primary: #d0cdb9;
  --color-secondary: #e9e7db;
  --color-accent: #827b54;
  --color-bg: #faf9f4;
  --color-text: #282524;
  --color-card: #ffffff;
  --p: #d0cdb9;
  --s: #e9e7db;
  --a: #827b54;
  --bg: #faf9f4;
  --t: #282524;
  --c: #ffffff;
  --cta-fg: #282524;
}
