:root {
  --color-primary: #ded8cf;
  --color-secondary: #f3f1ed;
  --color-accent: #8c8378;
  --color-bg: #fcfbf9;
  --color-text: #272421;
  --color-card: #ffffff;
  --p: #ded8cf;
  --s: #f3f1ed;
  --a: #8c8378;
  --bg: #fcfbf9;
  --t: #272421;
  --c: #ffffff;
  --mockup-cta-fg: #272421;
}
