:root {
  --color-primary: #c2c595;
  --color-secondary: #e9ebd8;
  --color-accent: #768853;
  --color-bg: #f8f9f4;
  --color-text: #2f372d;
  --color-card: #ffffff;
  --p: #c2c595;
  --s: #e9ebd8;
  --a: #768853;
  --bg: #f8f9f4;
  --t: #2f372d;
  --c: #ffffff;
  --cta-fg: #2f372d;
}
