:root {
  --color-primary: #c2cee8;
  --color-secondary: #eef1f8;
  --color-accent: #234c98;
  --color-bg: #feffff;
  --color-text: #1a2730;
  --color-card: #ffffff;
  --p: #c2cee8;
  --s: #eef1f8;
  --a: #234c98;
  --bg: #feffff;
  --t: #1a2730;
  --c: #ffffff;
  --cta-fg: #1a2730;
}
