:root {
  --color-primary: #d37a44;
  --color-secondary: #f7f6e1;
  --color-accent: #164bd1;
  --color-bg: #fffdf8;
  --color-text: #22211e;
  --color-card: #ffffff;
  --p: #d37a44;
  --s: #f7f6e1;
  --a: #164bd1;
  --bg: #fffdf8;
  --t: #22211e;
  --c: #ffffff;
  --cta-fg: #22211e;
}
