:root {
  --color-primary: #25e3aa;
  --color-secondary: #182b34;
  --color-accent: #37b9fe;
  --color-bg: #10151f;
  --color-text: #eef3ff;
  --color-card: #1a2233;
  --p: #25e3aa;
  --s: #182b34;
  --a: #37b9fe;
  --bg: #10151f;
  --t: #eef3ff;
  --c: #1a2233;
  --cta-fg: #10151f;
}
