:root {
  --color-primary: #22dcc9;
  --color-secondary: #16222c;
  --color-accent: #2fa7fc;
  --color-bg: #0e131c;
  --color-text: #eef3ff;
  --color-card: #182030;
  --p: #22dcc9;
  --s: #16222c;
  --a: #2fa7fc;
  --bg: #0e131c;
  --t: #eef3ff;
  --c: #182030;
  --cta-fg: #0e131c;
}
