:root {
  --color-primary: #3179cc;
  --color-secondary: #191929;
  --color-accent: #2832fa;
  --color-bg: #0e131c;
  --color-text: #eef3ff;
  --color-card: #1a2233;
  --p: #3179cc;
  --s: #191929;
  --a: #2832fa;
  --bg: #0e131c;
  --t: #eef3ff;
  --c: #1a2233;
  --cta-fg: #0e131c;
}
