:root {
  --color-primary: #191c29;
  --color-secondary: #2a2e40;
  --color-accent: #e06a21;
  --color-bg: #0d1118;
  --color-text: #eef4ff;
  --color-card: #191f2b;
  --p: #191c29;
  --s: #2a2e40;
  --a: #e06a21;
  --bg: #0d1118;
  --t: #eef4ff;
  --c: #191f2b;
  --cta-fg: #eef4ff;
}
