:root {
  --color-primary: #6c282c;
  --color-secondary: #d7cfbe;
  --color-accent: #685d50;
  --color-bg: #f1ede5;
  --color-text: #211d1e;
  --color-card: #fcf9f5;
  --p: #6c282c;
  --s: #d7cfbe;
  --a: #685d50;
  --bg: #f1ede5;
  --t: #211d1e;
  --c: #fcf9f5;
  --cta-fg: #f1ede5;
}
