:root {
  --color-primary: #633043;
  --color-secondary: #d6cec9;
  --color-accent: #5f5b59;
  --color-bg: #f3efe8;
  --color-text: #211d1e;
  --color-card: #fcf9f5;
  --p: #633043;
  --s: #d6cec9;
  --a: #5f5b59;
  --bg: #f3efe8;
  --t: #211d1e;
  --c: #fcf9f5;
  --cta-fg: #f3efe8;
}
