:root {
  --color-primary: #623732;
  --color-secondary: #d5d3ca;
  --color-accent: #5c5c5c;
  --color-bg: #f2f0e9;
  --color-text: #211d1e;
  --color-card: #fcfaf5;
  --p: #623732;
  --s: #d5d3ca;
  --a: #5c5c5c;
  --bg: #f2f0e9;
  --t: #211d1e;
  --c: #fcfaf5;
  --cta-fg: #f2f0e9;
}
