:root {
  --color-primary: #f6bfc7;
  --color-secondary: #feeef1;
  --color-accent: #553fe1;
  --color-bg: #fffdfe;
  --color-text: #2a2330;
  --color-card: #ffffff;
  --p: #f6bfc7;
  --s: #feeef1;
  --a: #553fe1;
  --bg: #fffdfe;
  --t: #2a2330;
  --c: #ffffff;
  --cta-fg: #2a2330;
}
