:root {
  --color-primary: #d1d7df;
  --color-secondary: #edf0f2;
  --color-accent: #4f7a8d;
  --color-bg: #f9fbfc;
  --color-text: #213136;
  --color-card: #ffffff;
  --p: #d1d7df;
  --s: #edf0f2;
  --a: #4f7a8d;
  --bg: #f9fbfc;
  --t: #213136;
  --c: #ffffff;
  --cta-fg: #213136;
}
