:root {
  --color-primary: #d6dfe4;
  --color-secondary: #f0f3f5;
  --color-accent: #538b93;
  --color-bg: #fdfdfe;
  --color-text: #213136;
  --color-card: #ffffff;
  --p: #d6dfe4;
  --s: #f0f3f5;
  --a: #538b93;
  --bg: #fdfdfe;
  --t: #213136;
  --c: #ffffff;
  --cta-fg: #213136;
}
