:root {
  --color-primary: #252a4f;
  --color-secondary: #efecda;
  --color-accent: #732b25;
  --color-bg: #f8f6ef;
  --color-text: #1f1c1c;
  --color-card: #fffdf9;
  --p: #252a4f;
  --s: #efecda;
  --a: #732b25;
  --bg: #f8f6ef;
  --t: #1f1c1c;
  --c: #fffdf9;
  --cta-fg: #f8f6ef;
}
