:root {
  --color-primary: #2a323f;
  --color-secondary: #ebe5de;
  --color-accent: #622d3e;
  --color-bg: #f4f0e9;
  --color-text: #1f1c1c;
  --color-card: #fffbf4;
  --p: #2a323f;
  --s: #ebe5de;
  --a: #622d3e;
  --bg: #f4f0e9;
  --t: #1f1c1c;
  --c: #fffbf4;
  --cta-fg: #f4f0e9;
}
