:root {
  --color-primary: #21392c;
  --color-secondary: #ebe1cd;
  --color-accent: #909138;
  --color-bg: #f4efe3;
  --color-text: #1d1a1a;
  --color-card: #fffbf4;
  --p: #21392c;
  --s: #ebe1cd;
  --a: #909138;
  --bg: #f4efe3;
  --t: #1d1a1a;
  --c: #fffbf4;
  --cta-fg: #f4efe3;
}
