:root {
  --color-primary: #29463c;
  --color-secondary: #eeebd4;
  --color-accent: #9d9a40;
  --color-bg: #f7f4ea;
  --color-text: #1d1a1a;
  --color-card: #fffdf9;
  --p: #29463c;
  --s: #eeebd4;
  --a: #9d9a40;
  --bg: #f7f4ea;
  --t: #1d1a1a;
  --c: #fffdf9;
  --cta-fg: #f7f4ea;
}
