:root {
  --color-primary: #d7ddcf;
  --color-secondary: #eff2ea;
  --color-accent: #8d97b5;
  --color-bg: #fafbf7;
  --color-text: #262d29;
  --color-card: #ffffff;
  --p: #d7ddcf;
  --s: #eff2ea;
  --a: #8d97b5;
  --bg: #fafbf7;
  --t: #262d29;
  --c: #ffffff;
  --mockup-cta-fg: #262d29;
}
