:root {
  --color-primary: #cab7d9;
  --color-secondary: #f6f2fa;
  --color-accent: #6f54ac;
  --color-bg: #ffffff;
  --color-text: #29243a;
  --color-card: #ffffff;
  --p: #cab7d9;
  --s: #f6f2fa;
  --a: #6f54ac;
  --bg: #ffffff;
  --t: #29243a;
  --c: #ffffff;
  --cta-fg: #29243a;
}
