:root {
  --color-primary: #b8b8e3;
  --color-secondary: #f2f1fb;
  --color-accent: #5665b4;
  --color-bg: #ffffff;
  --color-text: #29243a;
  --color-card: #ffffff;
  --p: #b8b8e3;
  --s: #f2f1fb;
  --a: #5665b4;
  --bg: #ffffff;
  --t: #29243a;
  --c: #ffffff;
  --cta-fg: #29243a;
}
