:root {
  --color-primary: #cbbad2;
  --color-secondary: #e9dfec;
  --color-accent: #5f57ab;
  --color-bg: #f9f4f9;
  --color-text: #2b2530;
  --color-card: #ffffff;
  --p: #cbbad2;
  --s: #e9dfec;
  --a: #5f57ab;
  --bg: #f9f4f9;
  --t: #2b2530;
  --c: #ffffff;
  --cta-fg: #2b2530;
}
