:root {
  --color-primary: #d84b57;
  --color-secondary: #f3ebe7;
  --color-accent: #e97162;
  --color-bg: #fcfaf8;
  --color-text: #2a2321;
  --color-card: #ffffff;
  --p: #d84b57;
  --s: #f3ebe7;
  --a: #e97162;
  --bg: #fcfaf8;
  --t: #2a2321;
  --c: #ffffff;
  --cta-fg: #fcfaf8;
}
