:root {
  --color-primary: #c3c8c9;
  --color-secondary: #e4e6e6;
  --color-accent: #407c69;
  --color-bg: #f6f6f6;
  --color-text: #1f2427;
  --color-card: #ffffff;
  --p: #c3c8c9;
  --s: #e4e6e6;
  --a: #407c69;
  --bg: #f6f6f6;
  --t: #1f2427;
  --c: #ffffff;
  --cta-fg: #1f2427;
}
