:root {
  --color-primary: #d3d4d7;
  --color-secondary: #f4f4f5;
  --color-accent: #436d78;
  --color-bg: #fefefe;
  --color-text: #1f2427;
  --color-card: #ffffff;
  --p: #d3d4d7;
  --s: #f4f4f5;
  --a: #436d78;
  --bg: #fefefe;
  --t: #1f2427;
  --c: #ffffff;
  --cta-fg: #1f2427;
}
