:root {
  --color-primary: #fcff4a;
  --color-secondary: #fdffc0;
  --color-accent: #2c62ea;
  --color-bg: #fffefb;
  --color-text: #2c2c26;
  --color-card: #ffffff;
  --p: #fcff4a;
  --s: #fdffc0;
  --a: #2c62ea;
  --bg: #fffefb;
  --t: #2c2c26;
  --c: #ffffff;
  --cta-fg: #2c2c26;
}
