:root {
  --color-primary: #ff8554;
  --color-secondary: #ffe4ca;
  --color-accent: #29e3ed;
  --color-bg: #ffffff;
  --color-text: #2c2c26;
  --color-card: #ffffff;
  --p: #ff8554;
  --s: #ffe4ca;
  --a: #29e3ed;
  --bg: #ffffff;
  --t: #2c2c26;
  --c: #ffffff;
  --cta-fg: #2c2c26;
}
