:root {
  --color-primary: #ff4f5d;
  --color-secondary: #38164b;
  --color-accent: #2872ff;
  --color-bg: #140e26;
  --color-text: #f7f1ff;
  --color-card: #1d1634;
  --p: #ff4f5d;
  --s: #38164b;
  --a: #2872ff;
  --bg: #140e26;
  --t: #f7f1ff;
  --c: #1d1634;
  --cta-fg: #140e26;
}
