:root {
  --color-primary: #bdbdbd;
  --color-secondary: #eeeeee;
  --color-accent: #757575;
  --color-bg: #fafafa;
  --color-text: #212121;
  --color-card: #ffffff;
  --p: #bdbdbd;
  --s: #eeeeee;
  --a: #757575;
  --bg: #fafafa;
  --t: #212121;
  --c: #ffffff;
  --cta-fg: #212121;
}
