:root {
  --color-primary: #f09682;
  --color-secondary: #fce0e2;
  --color-accent: #2766b2;
  --color-bg: #fffcfd;
  --color-text: #2b2230;
  --color-card: #ffffff;
  --p: #f09682;
  --s: #fce0e2;
  --a: #2766b2;
  --bg: #fffcfd;
  --t: #2b2230;
  --c: #ffffff;
  --cta-fg: #2b2230;
}
