:root {
  --color-primary: #ee7a70;
  --color-secondary: #fce0e6;
  --color-accent: #248db4;
  --color-bg: #fffcfd;
  --color-text: #2b2230;
  --color-card: #ffffff;
  --p: #ee7a70;
  --s: #fce0e6;
  --a: #248db4;
  --bg: #fffcfd;
  --t: #2b2230;
  --c: #ffffff;
  --cta-fg: #2b2230;
}
