:root {
  --color-primary: #32399d;
  --color-secondary: #1d213f;
  --color-accent: #b7bde7;
  --color-bg: #121925;
  --color-text: #eef4ff;
  --color-card: #1a2334;
  --p: #32399d;
  --s: #1d213f;
  --a: #b7bde7;
  --bg: #121925;
  --t: #eef4ff;
  --c: #1a2334;
  --cta-fg: #eef4ff;
}
