:root {
  --color-primary: #c2bfab;
  --color-secondary: #e5e2d5;
  --color-accent: #db711c;
  --color-bg: #f1eee9;
  --color-text: #191715;
  --color-card: #ffffff;
  --p: #c2bfab;
  --s: #e5e2d5;
  --a: #db711c;
  --bg: #f1eee9;
  --t: #191715;
  --c: #ffffff;
  --cta-fg: #191715;
}
