:root {
  --color-primary: #c6c2bc;
  --color-secondary: #e7e3dd;
  --color-accent: #d24a43;
  --color-bg: #f5f3ef;
  --color-text: #191715;
  --color-card: #ffffff;
  --p: #c6c2bc;
  --s: #e7e3dd;
  --a: #d24a43;
  --bg: #f5f3ef;
  --t: #191715;
  --c: #ffffff;
  --cta-fg: #191715;
}
