:root {
  --color-primary: #b2b2b2;
  --color-secondary: #dad8d6;
  --color-accent: #dd4b23;
  --color-bg: #f0eeea;
  --color-text: #191715;
  --color-card: #ffffff;
  --p: #b2b2b2;
  --s: #dad8d6;
  --a: #dd4b23;
  --bg: #f0eeea;
  --t: #191715;
  --c: #ffffff;
  --cta-fg: #191715;
}
