:root {
  --color-primary: #bdbdbb;
  --color-secondary: #e5e5df;
  --color-accent: #d15026;
  --color-bg: #f2f1ec;
  --color-text: #191715;
  --color-card: #ffffff;
  --p: #bdbdbb;
  --s: #e5e5df;
  --a: #d15026;
  --bg: #f2f1ec;
  --t: #191715;
  --c: #ffffff;
  --cta-fg: #191715;
}
