:root {
  --color-primary: #c5c2bf;
  --color-secondary: #e8e2de;
  --color-accent: #c7aa25;
  --color-bg: #f9f7f5;
  --color-text: #272424;
  --color-card: #ffffff;
  --p: #c5c2bf;
  --s: #e8e2de;
  --a: #c7aa25;
  --bg: #f9f7f5;
  --t: #272424;
  --c: #ffffff;
  --cta-fg: #272424;
}
