:root {
  --color-primary: #d6d3ce;
  --color-secondary: #f5f4ef;
  --color-accent: #cebb1e;
  --color-bg: #fdfcfb;
  --color-text: #272424;
  --color-card: #ffffff;
  --p: #d6d3ce;
  --s: #f5f4ef;
  --a: #cebb1e;
  --bg: #fdfcfb;
  --t: #272424;
  --c: #ffffff;
  --cta-fg: #272424;
}
